*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.checkmark {

    height: 40px;

    stroke-width: 2;
    stroke: #FFFFFF;
    stroke-miterlimit: 10;
    stroke-dashoffset: 0;

}

/*****************************************+******SCROLLBAR**********************************************/

#style-2::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.11);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.11);
}

#style-2::-webkit-scrollbar
{
    width: 12px;
    background-color: rgba(0, 0, 0, 0.9);
}

#style-2::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.11);
    background-color: rgba(0, 0, 0, 0.87);
}

/************************************************NAVIGATION*********************************************/

#sideNav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #050104;
    z-index: 2;
    transition: 0.5s;
}

nav ul li{
    list-style: none;
    margin: 50px 20px ;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

#menuBtn{
    width: 50px;
    height: 50px;
    background: #0C0202;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 12px;
    z-index: 3;
    cursor: pointer;
}

#menuBtn img{
   width: 20px; 
   margin-top: 15px ;
}



/************************************************HOME PAGE*********************************************/

.body1{
    background-color: #3B2639;
    position: relative;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
}

#banner{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgb(4, 1, 5));
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.banner-text{
    text-align: center;
    color: white;
    padding-top: 15%;
}

.banner-text h1{
    font-size: 140px;
    font-family: 'Brush Script MT', cursive;
}

.banner-text p{
    font-size: 40px;
    font-style: italic;
}




.featureBox {
    padding          : 15px 24px;
    display          : flex;
    align-items      : center;
    border-radius    : 6px;
    width            : 100%;

    background-color : #000000;
}

.featureBox .title {
    color       : #FCFBFC;
    font-family : Zilla Slab;
    font-size   : 16px;
    font-style  : normal;
    font-weight : 700;
    line-height : 150%; /* 30px */
}

.featureBoxContainer {
    display        : flex;
    align-items    : center;
    flex-direction : column;
    gap            : 4px;
    width          : 100%;
    margin-bottom  : 34px;
}


.featureBox:nth-child(2) {
    background-color : #070707;
}

.featureBox:nth-child(3) {
    background-color : #000000;
}

.featureIcon {
    padding          : 16px;
    border-radius    : 100px;
    margin-right     : 24px;


}

.featuresTwo {
    padding : 120px 0 104px;
}

.featuresImg {
    width      : 80%;
    height     : auto;
}


section {
    position: relative;
}

.container {
    width          : 100%;
    max-width      : 1258px;
    margin         : 0 auto;
    display        : flex;
    align-items    : center;
    flex-direction : row;
    gap            : 128px;
    padding        : 0 36px;
}

.column {
    width : 45%;

}



.heading {
    color         : #000000;
    font-family   : Zilla Slab;
    font-size     : 36px;
    font-style    : normal;
    font-weight   : 700;
    line-height   : 150%; /* 54px */
    margin-bottom : 24px;
    margin-top    : 0;
}

.bodyText {
    color         : #000000;
    font-family   : Zilla Slab;
    font-size     : 20px;
    font-style    : normal;
    font-weight   : 500;
    line-height   : 150%; /* 30px */
    margin-bottom : 28px;
}



.animated-element {
    opacity: 0;
    transform: translateY(36px);
    transition: opacity 1s ease, transform 0.3s ease;
}

.animated-element.animated {
    opacity: 1;
    transform: translateY(0);
}



.container2 {
   margin-top: 5%;
   left: 15%;
}


.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.column-60 {
    width: 70%;
    padding: 2%;
    object-fit: cover;
    cursor: pointer;
    transition: 0.2s ease;
}

.column-40 {
    width: 50%;
    padding: 2%;
    object-fit: cover;
    cursor: pointer;
    transition: 0.2s ease;
}



.three {
    background: linear-gradient(to bottom, #050505 0%, #FFFFFF 20%);

}


/*******************************responsiveness************************************/


@media (max-width : 768px) {
    .container {
        flex-direction : column;
    }

    .column {
        width : 100%;
    }


}
